<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.busu3" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Busu</name>
    <description>
         Aplicativo que mostra pontos e horarios de ônibus
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        CEPECAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="StatusBarOverlaysWebView" value="true" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.1.2" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-statusbar-master" spec="^2.2.3" />
</widget>
